{% extends 'blog/base.html' %}
{% load humanize %}
{% load cool_num %}
{% load readtext %}
{% block content %}
{% load social_share %}


{% include 'blog/snippets/messages.html' %}



      <main role="main" class="container-fluid blog-detail" style="width: 100%; margin-top:40px;">
        <div class="row">
          <div class="col-md-10 blog-main">
            
            
      <div class="blog-post mt-3">

       
        <h2 class="blog-post-title title" style="text-align: center; padding:20px;">{{post.title}}</h2>
        <p style="text-align: center; display:block;" class="ml-1 mr-1 mt-4" > 
          <span> <b style="padding-right:1px; display:inline-block;"><img src="{{post.author.photo.url}}" alt="user" width="35" height="35" class="thumbnail"> {{post.author.username|capfirst}} </b> </span>   
          <span> <b style="padding-left:15px; display:inline-block;"><i class="fa fa-pencil mr-1"></i>Published</b>   {{post.created|naturaltime}} </span>
         <span> <b style="padding-left:15px; display:inline-block;"><i class="fa fa-edit"></i> Updated</b>  {{post.updated|naturaltime}} </span> 
           
           <span><b style="padding-left:15px; display:inline-block;"><i class="fa fa-comments mr-1"></i>{{post.comments.count|cool_num}}</b> </span>
           
         <span>  <b style="padding-left:15px; display:inline-block;"><i class="fa fa-clock-o mr-1"></i>{{post.body|readtime}}</b> </span>
          <span> <b style="padding-left:15px; display:inline-block;"><i class="fa fa-thumbs-up mr-1"></i>{{post.total_likes|cool_num}}</b> </span>
          <span> <b style="padding-left:15px; display:inline-block;"><i class="fa fa-heart mr-1 ml-1 text-danger"></i>{{post.total_heart|cool_num}}</b></span>
          <span> <b style="padding-left:15px; display:inline-block;"><i class="fa fa-eye mr-2 ml-1"></i>{{post.blog_views|cool_num}}</b></span>
           
         
         
         </p> 
        
        
        <div class="jumbotron p-4 p-md-5  rounded" style="background-color: white;">
          
          {% if post.image %}
          <img class="" style="width: 100%;" src="{{post.image.url}}">
        {% endif %}
          
          </div>
        
          <div class="card " style="border: none;">
          <div class="card-body">
            
            <p class="card-text">{{post.body|safe}}.</p>
                      </div>
                      <p class="tags">
                        {% for tag in post.tags.all %} 
       <a class=" color5 ml-2" href="{% url 'post_list_by_tag' tag.slug %}">{{ tag.name }}</a>
       
       {% endfor %}
                     </p>
          </div>

          <span class="mr-2 mt-2"  style="display: block;">
            {% if post.author == request.user %}
            <a class="btn btn-primary  mr-2 "  href="{% url 'blog:post_edit' id=post.id slug=post.slug %}"><i class="fa fa-edit mr-2"></i>Edit Post</a>
            {% endif %}
    
            {% if post.author == request.user %}
            <a class="btn btn-danger mr-2 "  href="{% url 'blog:post_delete' id=post.id slug=post.slug %}" id="delete"><i class="fa fa-trash mr-2"></i>Delete Post</a>
            {% endif %}</span>
  
          <div id="like-section" style="display: inline-block; " class="mt-2 mb-4">
            {% include 'blog/like_section.html' %}
          </div>
                  
          <div id="heart-section" style="display: inline-block; " class="mt-2 mb-4">
            {% include 'blog/heart_section.html' %}
          </div>


          <div id="favourite-section" style="display: inline-block; " class="mt-2 mb-4">
            {% include 'blog/favourite_section.html' %}
          </div>
          
<div class="container">
  <span class="mr-2 mt-2"  style="display: inline-block;"><b>Share Post on</b></span>
          <span class="mr-2 mt-2"  style="display: inline-block;">{% post_to_facebook post.get_absolute_url "Post to Facebook!" %}</span>
         <span class="mr-2 mt-2" style="display: inline-block;"> {% post_to_twitter "New Post: {{post.title}}. Check it out!" post.get_absolute_url "Post to Twitter" %}</span>
         <span class="mr-2 mt-2" style="display: inline-block;">{% post_to_gplus post.get_absolute_url "Post to Google+!" %}</span>
         <span class="mr-2 mt-2" style="display: inline-block;">{% post_to_linkedin post.title post.get_absolute_url "Post to LinkedIn" %}</span>
         <span class="mr-2 mt-2" style="display: inline-block;">{% send_email post.title "New Post: {{post.title}}. Check it out!" post.get_absolute_url "Share via email" %}</span>
         <span class="mr-2 mt-2" style="display: inline-block;">{% post_to_reddit "New Post: {{post.title}}" post.get_absolute_url %}</span>
         <span class="mr-2 mt-2" style="display: inline-block;">{% post_to_telegram "New Post: {{post.title}}" post.get_absolute_url %}</span>
         <span class="mr-2 mt-2" style="display: inline-block;">{% post_to_whatsapp post.get_absolute_url "Share via WhatsApp" %}</span>
          </div>


          

          {% if not post.restrict_comment %}
          <div class="main-comment-section" class="mt-5">
            {% include 'blog/comments_section.html' %}
          </div>
{% endif %}

{% if similar_post %}
<div class="container">
<h2 class="align-center">Similar Post</h2>
  <div class="row">

{% for post in similar_posts %}
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="bd-placeholder-img card-img-top" src="{{post.image.url}}" width="100%" height="225"  focusable="false" role="img" aria-label="Placeholder: Thumbnail">
        <div class="card-body">
          <p class="card-text">{{post.title}}.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="{{ post.get_absolute_url}}"  class="btn btn-sm btn-danger" >Read More</a>
              
            </div>
            
          </div>
        </div>
      </div>
    </div>
    
{% endfor %}
    
</div>
</div>
{% endif %}

<div class="container mt-4">
  <h2 class="align-center" style="text-align: center;">Recent Post</h2>
    <div class="row">
  
  {% for post in recent_post %}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          {% if post.image %}
          <img class="bd-placeholder-img card-img-top" src="{{post.image.url}}" width="100%" height="225"  focusable="false" role="img" aria-label="Placeholder: Thumbnail">
          {% endif %}
          <div class="card-body">
            <p class="card-text">{{post.title}}.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{{ post.get_absolute_url}}"  class="btn btn-sm btn-danger" >Read More</a>
                
              </div>
              
            </div>
          </div>
        </div>
      </div>
  {% endfor %}
      
  </div>
  </div>
      </div><!-- /.blog-post -->

    </div><!--blog main-->

    
      

     
  </div><!-- /.row -->
  
  </main><!-- /.container -->

  
{% endblock content %}


