{% extends 'blog/base.html' %}
{% load static %}
{% load humanize %}
{% load cool_num %}
{% load readtext %}
{% block content %}


 

  
{% include 'blog/snippets/messages.html' %}
  <main role="main" class="container-fluid" style="width: 85%; margin-top:40px; background-color:white;">
    
    <div class="row">
      
      <div class="col-md-8 blog-main" >
       
       
  
       
        
    
    

 
  
   <!-- Blog posts-->
   {% if favourite_posts %}
			  
			  {% for post in favourite_posts  %}
					<div class="blog-post mt-3" style="box-shadow: 1px 1px 4px 1px lightgray; " >
           
						<h2 class="blog-post-title title" style="text-align: center; padding:20px;">{{post.title}}</h2>
						<p style="text-align: center; display:block;" class="ml-3 mr-3 mt-4" > 
							<span> <b style="padding-right:1px; display:inline-block;"><img src="{{post.author.photo.url}}" alt="user" width="35" height="35" class="thumbnail"> {{post.author.username|capfirst}} </b> </span>   
							<span> <b style="padding-left:15px; display:inline-block;"><i class="fa fa-pencil mr-1"></i>Published</b>   {{post.created|naturaltime}} </span>
						   <span> <b style="padding-left:15px; display:inline-block;"><i class="fa fa-edit"></i> Updated</b>  {{post.updated|naturaltime}} </span> 
							 
							 <span><b style="padding-left:15px; display:inline-block;"><i class="fa fa-comments mr-1"></i>{{post.comments.count|cool_num}}</b> </span>
							 
						   <span>  <b style="padding-left:15px; display:inline-block;"><i class="fa fa-clock-o mr-1"></i>{{post.body|readtime}}</b> </span>
							<span> <b style="padding-left:15px; display:inline-block;"><i class="fa fa-thumbs-up mr-1"></i>{{post.total_likes|cool_num}}</b> </span>
							<span> <b style="padding-left:15px; display:inline-block;"><i class="fa fa-heart mr-1 ml-1 text-danger"></i>{{post.total_heart|cool_num}}</b></span>
							<span> <b style="padding-left:15px; display:inline-block;"><i class="fa fa-eye mr-2 ml-1"></i>{{post.blog_views|cool_num}}</b></span>
							 
						   
						   
						   </p> 		
						<div class="jumbotron p-4 p-md-5  rounded" style="background-color: white;">
							{% if post.image %}
								<img class="" style="width: 100%;" src="{{post.image.url}}">
							{% endif %}
						  </div>
						
						  <div class="card " style="border:none;">
							<div class="card-body" >
							  
                <p class="card-text">{{post.body|safe|truncatechars:400}}.</p>
                <div style="text-align: center;">
							  <a href="{{post.get_absolute_url}}" class="btn btn-sm btn-outline-primary">Read More</a>
              </div>
              <p class="tags mt-4">
                {% for tag in post.tags.all %} 
<a class=" color5 ml-2" href="{% url 'post_list_by_tag' tag.slug %}">{{ tag.name }}</a>

{% endfor %}
             </p>
              </div>
							
						  </div>
					  
			  
					  
					</div><!-- /.blog-post -->
			  
					{% endfor %}
					
			  
				 
			  

{% else %}

					<div class="blog-post">
						<h2 class="blog-post-title" style="text-align: center; padding:20px;">No Favourite Post Found</h2>
							  <div class="card text-center">
							<div class="card-body">  
							  <p class="card-text">Add a favourite post"</p>
							 </div>
							
						  </div>
					  
			  
					  
					</div><!-- /.blog-post -->

{% endif %}






      </div><!-- /.blog-main -->
  
      
      {% include 'blog/snippets/sidebar.html' %}
  
    </div><!-- /.row -->
  
  </main><!-- /.container -->


{% endblock content %}