{% extends 'blog/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<!-- Start wrapper-->

<div class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center align-items-center h-100">
				<div class="card-wrapper mt-5">
					
					<div class="card fat">
						<div class="card-body">
							
							<p>
								Thank you for confirming your email address <b>{{request.user.email}}</b>.
								Your username is <b>{{request.user.username}}</b>
								
							  </p>
							 
							  <p><a style="color: darkorange;"  href="{% url 'post_list' %}">Return to Home Page</a></p>
						  
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>

 
    
	<!--start color switcher-->
   
  <!--end color switcher-->
	
	</div><!--wrapper-->

 
    
  
  {% endblock content %}