{% extends 'blog/base.html' %}
{% load static %}


{% block content %}

<!-- Start wrapper-->

<div class="my-login-page">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center align-items-center h-100">
				<div class="card-wrapper mt-5">
					
					<div class="card fat">
						<div class="card-body">
							
							<p class="m-auto">Your password has been reset. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.</p>
	   
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>

 
    
	<!--start color switcher-->
   
  <!--end color switcher-->
	
	</div><!--wrapper-->

 

	
  {% endblock content %}